# Root
.DS_Store

# Secrets
backend/.env
backend/.env.*
mobile/.env
mobile/.env.*

# Node
backend/node_modules/
backend/npm-debug.log*

# Backend runtime data
backend/uploads/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock

# Android/iOS generated
mobile/android/.gradle/
mobile/android/app/build/
mobile/ios/Pods/
mobile/ios/.symlinks/

# IDE
.vscode/
.idea/
*.iml
